@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-inline: 4.5rem;
    width: 100%;
    align-items: center;
    height: 5rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding-inline: 4.5rem;

}
.prop{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

}
.placeh{
    font-size: .8rem;
    opacity: .5;
    align-self: center;
}
h3{
    font-size: 1rem;
    font-weight: 300;
}
.nav-list{
    display: flex;
    gap: 2rem;
}
a{
    text-decoration: none;
    color: black;
}
.active{
    background-color: yellow;
}
.img{
    width: 100%;
    height: 70vh;
    background-image: url('2fcbabaf010cb85f7ec0f7f985f2469b.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 

    padding-inline: 4.5rem;
    align-content: center;
    font-size: 25px;
    color: white;
   
}
.offers{
    width: 100%;
    display: flex;

    justify-content: center;

    background-color: white;
 

}



.offer{
    width: calc(100% / 3 - 1.4rem);
    height: 25rem;
    text-align: center;
    justify-items: center;
    transform: translateY(-7rem);
    background-color: white;
}
.offer-img{
    width: 75%;
  
    height: 75%;
  
 

}
del{
    opacity: .5;
    font-size: .85rem;
}
.best-seller-menu{
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    margin-top: .5rem;
}
.best-seller{

    width: 100%;
  
}
.card{
    width: calc(100% / 4 - 2rem);
    height: 25rem;
    text-align: center;
    justify-items: center;
    
  
    display: inline-block;

}
.card img {
    width:75% ;
    height: 75%;
}
.fa-star{
    color: rgb(224, 224, 0);
    font-size: small;
    margin-left: 8px;
}
.hero-banner{
    align-content: center;
    padding-inline: 4.5rem;
    display: flex;
 
     align-items: center;
     margin-top: 3rem;
     margin-bottom: 3rem;
}
.hero-banner-img{
    height: 100vh;
    width: 100%;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    
}
.adidas{
    font-size: 3rem;
}
.hero-banner-img{
    width: 100%;
    height: 70vh;
}
.service{
    display: flex;
    padding: 4.5rem;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.s-card{
    text-align: center;
    width: calc(100% / 3 - 4rem);

}
.b-card{
    display: flex;
    gap: .5rem;
  
    width: calc(100% / 3 -4rem);

}
.lastest-new{
    padding-inline: 4.5rem;
    width: 100%;
    margin-bottom: 5rem;

    
    
}
.lastest-new-container{
    padding-inline: 4.5rem;
    width: 100%;
    display: flex;
        gap: 2rem;
    
}
.brand-img{
    width: 9rem;
    height: 5rem;
   
} 
.date{
    opacity: .5;
}

.f-card{
    width: calc(100% / 3 - 4rem);
    display: flex;
}
.f-img{
    width: 7.5rem;
    height: 7.5rem;
}
.f-product-content{
    display: flex;
    gap: 2rem;
    padding-inline: 4.5rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
input{
    width: 25%;
    height: 2.7rem;
    padding: .8rem;
    border: #40BFFF 1.2px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    
}
button{
    width: 5.7rem;
    height: 2.7rem;
    border: 0;
    background-color: #40BFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 1rem;
   

  
}
form{
    justify-content: center;
    width: 100%;

    display: flex;
 
}
.section-1{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 5rem;
}
.section-1 div{
    width: calc(100% / 3 - 10rem);
}


footer{
    padding-inline: 4.5rem;
    margin-top: 5rem;
    background-color: #BCDDFE;
    padding-block: 5rem;
}
.fa-facebook{
    margin-right: 20px;
    color: rgb(0, 0, 124);
}
.fa-twitter{
    color: blue;
}
.section-2{
    display: flex;
    gap: 4rem;
}
.section-2 div{
    width: calc(100% / 4 -12rem);
    justify-content: space-between;
}

.cards{
    justify-content: flex-end;
    width: 100%;
    display: flex;
    gap: 1rem;
}
.mobile-nav{
    display: none;
}

@media (max-width:768px){

    .best-seller .card{
        flex-direction: column;
        display: block;
       width: 100%;
     
    }
    .hero-banner{
        display: inline-block;
        flex-direction: row;

        
    }

    .hero-banner-img{
       display: none;
        
    }
    .service{
        flex-direction: column;
    }
    .s-card{
        width: 100%;
    }
    .lastest-new-container{
        flex-direction: column;

        
        
    }
    .b-card{
        width: 100%;
        display: inline-block;
        text-align: center;
        flex-direction: column;
    }
    .f-product-content{
        flex-direction: column;
    }
    .f-card{
        width: 100%;
        display: block;
        text-align: center;
    }
    .section-1{
        flex-direction: column;
    }
    .section-1 div{
        width: 100%;
        text-align: center;
    }
    .section-2{
        flex-direction: column;
    }
    .section-2 div{
        width: 100%;
        text-align: center;
    }
    .cards{
        justify-content: center;
    }
    .offers{
        flex-direction: column;
    }
    .offer{
        width: 100%;
    }
    .nav-list{
        display: none;
    }
    .mobile-nav-list{
        display: none;
    }
    .mobile-nav{
        display: block;
        flex-direction: column;
        
    }
    .mobile-nav:hover .mobile-nav-list{
        display: block;
        margin-top: 5rem;
        background-color: white;
        text-align: center;
        padding: 1rem;
        transform: translateX(3rem);
        
    }
    .placeh{
        display: none;
    }
    input{
        width:100%;
        
      }
      form{
        padding-inline: 4.5rem;
      }

 
}
@media (max-width:1023px){
    .card{
        width: calc(100%/ 3 - 2rem);
    }
    .best-seller{

        gap: 1rem;
    }
    .lastest-new-container .b-card{
        
      
        text-align: center;
        display: inline-block;

    }
    .f-card{
        display: inline-block;
        text-align: center;
    }
    .section-1 {
       flex-direction: column;
       
       
    }
    .section-1 div{
       text-align: center;
       width: 100%;
        
     }
     .section-2 {
        flex-direction: column;
        
        
     }
     .section-2 div{
        text-align: center;
        width: 100%;
         
      }
      input{
        width:100%;
        
      }
      form{
        padding-inline: 4.5rem;
      }
      .cards{
        justify-content: center;
      }
}
@media (min-width:1024px){
  
}